extends layout

block content

  .container.main
    p.muted All Posts
    if posts
      for post in posts
        .div.post-item
          h5.post-title 
            a(href="admin/posts/#{post._id}") #{post.title}
          p 
            span.post-tags
              each tag in post.tags
                a(class="button-tag button button-primary" href="/tags/#{tag}") #{tag}
        hr