extends layout

block header-scripts
  link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.css")

block content

  .container.main

    .view-toggle
      a.edit-link.tab-style.tab-style-active(href="#") Edit
      a.preview-link.tab-style(href="#") Preview

    #editor
      .post-body
        form(id="edit-post", method="POST", action="/admin/posts/create")
          input.u-full-width(type="text", id="post-title", name="posttitle")
          textarea.u-full-width#post-text(name="posttext") 
          input(name="tags", id="tags")
          select(name="published")
            option(value="true") Published
            option(value="false") Draft
          input(type="submit", value="Save")
    #preview.hidden
      h3#preview-title
      #preview-body   


block page-scripts
  script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="application/javascript", src="/js/markdown.min.js")
  script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.min.js")
  script(type="application/javascript", src="/js/edit.js")
