extends layout

block content

  .container.main

    a.edit-link(href="#") Edit
    a.preview-link(href="#") Preview

    #editor
      .post-body
        form(id="edit-post", method="POST", action="/admin/posts/#{post._id}")
          input.u-full-width(type="text", id="post-title", name="posttitle", value="#{post.title}")
          textarea.u-full-width#post-text(name="posttext") !{post.body}
          //- .post-options
          input(type="submit", value="Save")
    #preview.hidden


block page-scripts
  script(type="application/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(type="application/javascript", src="/js/markdown.min.js")
  script(type="application/javascript", src="/js/edit.js")
