doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    block header-scripts
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Raleway:600,400,300")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet", type="text/css", href="/css/normalize.css")
    link(rel="stylesheet", type="text/css", href="/css/skeleton.css")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    title Content

  body
    .navigation.admin 
      a(href="/")
        h5.inline-title Content
      a(href="/admin")
        span.fa.fa-tasks  Posts
      a(href="/admin/profile")
        span.fa.fa-user  Profile
      a(href="/logout") 
        span.fa.fa-sign-out  Log out
      
    block content

    block page-scripts