doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    block header-scripts
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Raleway:600,400,300|Montserrat:400,700")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    link(rel="stylesheet", type="text/css", href="/css/normalize.css")
    link(rel="stylesheet", type="text/css", href="/css/skeleton.css")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    title Content

  body
    .navigation.nav-admin.row 
      a(href="/")
        img.logo(src="/img/logo.png", alt="CONTENT CMS")
      .u-pull-right.nav-options
        a(href="/admin")
          span.fa.fa-tasks  
          span.nav-label  Posts
        a(href="/admin/profile")
          span.fa.fa-user  
          span.nav-label  Profile
        a(href="/logout") 
          span.fa.fa-sign-out     
      
    block content

    block page-scripts