doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Raleway:600,400,300")
    link(rel="stylesheet", type="text/css", href="/css/normalize.css")
    link(rel="stylesheet", type="text/css", href="/css/skeleton.css")
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    title Content

  body
    .nav 
      h5.nav-title Content
      a(href="/") All posts
      a(href="/signup") Sign up
      
    block content
    