extends layout

block content
  .container.main
    .login-wrapper.both-centered
      .login-header.row
        span.fa.fa-edit.fa-3x 
        h1.inline-title Login
      .login-form
        if (error.length > 0)
          p.error 
            span.fa.fa-warning
            span  #{error}
        form(id="sign-in", method="POST", action="/signin")
          .row
            .six.columns
              label.sr-only(for="username") Username:
              input.u-full-width(type="text", name="username", placeholder="Username...")
            .six.columns
              label.sr-only(for="password") Password:
              input.u-full-width(type="password", name='password', placeholder="Password...")
          .row
            input.button-primary.u-full-width(type="submit", value="Sign In")
      .row
        p.text-center – or –
      .login-options.row
        a.button.u-full-width(href="/auth/facebook")
          span.fa.fa-facebook-official
          |  Facebook
        a.button.u-full-width(href="/signup")
          span.fa.fa-pencil
          |  Sign Up
