/* Style overrides */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #D01729;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

html, body, .main { 
  height: 100vh;
}

.main{
  padding-top: 70px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.muted {
  color: #CCCCCC;
}

.hidden {
  display: none;
}

.thumbnail {
  width: auto;
  height: 100px;
}

.text-center {
  text-align: center;
}

.inline-title {
  font-weight: 300;
  display: inline;
  margin: 0;
  padding: 0 1rem;
}

/* READING Navigation */

.logo {
  height: 25px;
  width: auto;
}

.navigation {
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DADADA;
  font-family: 'Montserrat';
  font-size: 12.8px;
}

.navigation a {
  padding: 0 0.5rem;
}

.nav-options a {
  color: #444;
}

/* WRITING NAVIGATION */

.nav-admin {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DADADA;
  background-color: #1C1C1C;
  color: #DADADA;
  font-size: 16px;
}

.nav-admin a {
  text-transform: uppercase;
  padding: 0 1rem;
  color: #ddd;
}

/* Desktop screens */
@media (max-width: 450px) {
  .nav-label {
      display: none;
  }

}




/* READING VIEWS */

.post-title a {
  color: #000;
}


.user-profile {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.button-tag {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  margin: 0 0.5rem;
}

.both-centered {
  position: absolute;
  margin-top: -7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-header {
  margin-bottom: 1rem;
}

.error {
  height: 38px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #DA898E;
}

/* ADMIN */



.post-meta {
  overflow: hidden;
}

.post-tags,
.draft,
.delete {
  margin: 0;
}

/* EDITOR */

.view-toggle {
  padding: 0.5rem 0;
  height: 40px;
}

.tab-style {
  margin-right: 2rem;
  color: #111;
}

.tab-style-active {
  font-weight: 600;
}

#imageupload{
  padding-top: 8px;
  color: #000;
}

#editor,
#preview {
  width: 100%;
  height: calc(100% - 40px);
}



.muted-bg {
  background-color: #FAFAFA !important; 
}

.post-body {
  height: 100%;
}

#edit-post {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

#post-title{
  height: 40px;
  font-size: 2rem;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ADADAD;
}

#post-text{
   height: calc(100% - 185px);
   border: 0;
   font-family: 'Courier New', Courier, serif;
}


/* TAGS */

.tags {
  height: 40px;
}

.tag-icon {
  width: 40px;
  height: 40px;
  float: left;
}

.tag-label {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tagsinput-bar {
  width: calc(100% - 40px);
  float: left;
}

#tags_tagsinput {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 7px 0;
  border: 0;
}

div.tagsinput input {
  font-family: 'Montserrat', sans-serif;
}

div.tagsinput span.tag {
  border: 1px solid #ADADAD;
  border-radius: 4px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  padding: 2px 5px;
}

div.tagsinput span.tag a {
  color: #D01729;
}

/* IMAGE UPLOAD */

.tab-content {
  padding-top: 0.5rem;
}

.image-row{
  margin: 1rem 0;
}

/* SETTINGS */

.settings-nav {
  list-style-type: none;
}


/* SPLASH PAGE */

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -100;
  background: transparent url(skylapse.jpg) no-repeat;
  background-size: cover;
}

.splash {
  font-family: 'Montserrat', 'Raleway', sans-serif;
  font-size: 5em;
  color: #fff;
  text-align: center;

  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hook {
  margin-bottom: 0;
}

.sign-up {
  line-height: 1;

}

.sign-up-button  {

  display: inline-block;
  height: 50px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.sign-up-button:hover {
  color: #fff;
}
