/* Style overrides */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

html, body, .main { 
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.muted {
  color: #909AA4;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
/* Container override */
.container {
  max-width: 100%;
}


/* Navigation */

.navigation {
  width: 100%;
  height: 5.5rem;
  z-index: 99;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DADADA;
}

.navigation a {
  text-transform: uppercase;
  padding: 0 1rem;
}

.inline-title {
  display: inline;
  margin: 0;
  padding: 0 1rem;
}

.main{
  padding-top: 7rem;
}

.post-title a {
  color: #000;
}


.user-profile {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.button-tag {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  margin: 0 0.5rem 0 0;
}

.both-centered {
  position: absolute;
  margin-top: -7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-header {
  margin-bottom: 1rem;
}

.error {
  height: 38px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #DA898E;
}

/* ADMIN */

.admin {
  background-color: #1C1C1C;
  color: #DADADA;
}

.admin a {
  color: #DADADA;
}

.post-meta {
  overflow: hidden;
}

.post-tags,
.draft,
.delete {
  margin: 0;
}

/* EDITOR */

.view-toggle {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.tab-style {
  margin-right: 2rem;
  color: #111;

}

.tab-style-active {
  border-bottom: 2px solid #111;
}

#editor,
#preview,
#edit-post {
  width: 100%;
  height: 100%;
}

.post-body {
  height: 100%;
}

#post-title{
  height: 5%;
  font-size: 2rem;
}

#post-text{
 height: 70%;
 border: 0;
}

.post-options {
  height: 5%;
}

#tags_tagsinput {
  margin-bottom: 0.5rem;
  height: 40px;
}
