/* Style overrides */

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, 
body, 
.main, 
.pure-g [class *= "pure-u"] { 
  font-family: 'Merriweather', serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #660010
}


/* UTILITIES*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.muted {
  color: #CCCCCC;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

/* Buttons */

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.button-tag {

  margin: 0 0.5rem 0.5rem 0;
}

/* TYPOGRAPHY */

body {
  font-size: 1.6rem;
  line-height: 1.6em;
}

@media (min-width: 550px){
  body {
    font-size: 1.7rem;
    line-height: 1.8em;
  }
}

@media (min-width: 1020px){
  body {
    font-size: 2rem;
    line-height: 1.8em;
  }
}


/* Container  */

.container {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 1020px){
  .container {
    margin: 0 auto;
    width: 960px;
  }
}


/* Navigation */

.logo {
  height: 25px;
  width: auto;
}

.navigation {
  width: 100%;
  height: 50px;
  z-index: 99;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  border-bottom: 1px solid #DADADA;
  font-family: 'Montserrat';
  font-size: 12.8px;
}

.navigation a {
  padding: 0 0.5rem;
}

.nav-options a {
  color: #444;
}

.main{
  padding-top: 70px;
}

.post-title a {
  color: #000;
}


.user-profile {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}


.both-centered {
  position: absolute;
  margin-top: -7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-header {
  margin-bottom: 1rem;
}

.error {
  height: 38px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #DA898E;
}

/* READING */

.post-title {
  font-family: 'Raleway', sans-serif;
}
