doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Raleway:600,400,300")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="/default/css/normalize.css")
    link(rel="stylesheet", type="text/css", href="/default/css/skeleton.css")
    link(rel="stylesheet", type="text/css", href="/default/css/styles.css")
    title Content

  body
    .nav 
      h5.inline-title Content
      a(href="/") All posts
      if !loggedIn
        a(href="/signin") Sign in
      else
        a(href="/admin")  Admin
        a(href="/logout") Log out
      
    block content
    